body{
    background-color: #F7FAFD;
    font-family: 'Open Sans', sans-serif;
    width:100%;
    display: flex;
    flex-flow: column nowrap;
}
/* HEADER */
header{
    background-color: #F7FAFD;
    width: 100%;
    z-index: 3;
    position: fixed;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items:center;
    z-index: 3;
    padding-left: 3%;

}

.logo{
    max-width: 125px;
}

nav {
    margin-right: 5%;
    display:flex;
    flex-flow: row nowrap;

}

ul {
    list-style: none;
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

li{
    padding: 10px;
    font-weight: bold;
    font-size: 1.5vw;   
}

#button-nav {
    background-color:#F7FAFD;
    color: #FE546E;
    border-color: #FE546E;
    font-size: 1.5vw;  
    padding: 5px 25px 5px 25px; 
}
/* HEADER */

/* MAIN */
main {
  display:flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 100%;
}
.main-div {
    padding:75px 25px 75px 25px;
}

h1 {
    text-align: center;
    font-weight: bold;
    align-self: center;
    font-size: 5vw;
    padding-left: 10%;
    padding-right: 10%;
}
h2{
    text-align: left;
    font-weight: bold;
    align-self: center;
    font-size: 3vw;
}
p {
    font-weight: 300;
    font-size: 1,5vw;
    color: #857B77;

}

button {
    background-color: #FE546E;
    font-weight: bold;
    border-radius: 20px;
    color: #F7FAFD;
    text-decoration: none;
    padding: 10px 35px 10px 35px;
    box-shadow: none;
}

#section-intro {
    display:flex;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: center;
}

#intro-div-1 {
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}


#intro-div-1-p {
    padding-left: 17%;
    padding-right: 17%;
    text-align: center;
}

#intro-div-1-button {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
    padding-top: 2%;
}

#intro-div-img {
    width: 100%;
    padding-top: 100px;
    padding-left: 15%;
    align-items: center;
}
#intro-div-img-iphone {
    width: 70%;
    padding-bottom: 50px;
}

.intro-div-2-ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.intro-div-2-li{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.intro-div-2-li-p{
    font-weight: bold;
    color: #333333;
}

.background-logo-purple {
    border-radius: 50%;
    background-color: #EBE7FA;
    width: 10vw;
    height: 10vw;
    padding:10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-purple {
    fill: #AA7FEC;
    width: 10vw;
    height: 10vw;
    padding:10%;
}

.background-logo-green {
    border-radius: 50%;
    background-color: #DAF4EF;
    width: 10vw;
    height: 10vw;
    padding:10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-green{
    fill: #1ACA94;
    width: 10vw;
    padding:10%;
}

.background-logo-pink {
    border-radius: 50%;
    background-color: #F8E5EA;
    width: 10vw;
    height: 10vw;
    padding:10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-pink{
    fill: #FF556F;
    width: 10vw;
    padding:10%;
}
.background-logo-yellow {
    border-radius: 50%;
    background-color: #F8F1DE;
    width: 10vw;
    height: 10vw;
    padding:10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-yellow{
    fill: #FFB30F;
    width: 10vw;
    padding:10%;
}

.background-logo-blue {
    border-radius: 50%;
    background-color: #E2F2F9;
    width: 10vw;
    height: 10vw;
    padding:10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-blue{
    fill: #50B8E8;
    width: 10vw;

    padding:10%;
}

#section-description {
    display: flex;
    flex-direction: column;


}

.description-div-1 {
    margin-bottom: 100px;
    margin-top: 100px;

}

#description-div-1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
#description-div-1-img{
    width: 40%;
}
#description-div-1-img-mix{
    width: 100%;
}
#description-div-1-text{
    width: 40%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}
#description-div-ul{
    list-style: square;
    color: #857B77;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}
#button-lightbox {
    padding: auto;
    margin-left: 30%;
    margin-right: 30%;
}

#description-div-2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #E9EFF6;
    padding-top: 100px;
    
}

#description-div-2-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#description-div-2-left-button{
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
}

.div-2-button {
    border-radius: 0px;
    background-color: #F7FAFD;
    color: #777879;
    font-weight: bold;
    margin: 5px;
}

#div-2-button-1{
    background-color: #AA7FEC;
    color: #F7FAFD;
}

#description-div-2-left-ul {
    display: flex;
    flex-direction:column;
    padding-left: 15px;
    list-style: circle;

}

.description-div-2-left-li{
    font-weight: lighter;
}

#description-div-2-left-button {
    display: flex;
    flex-direction: row;
    gap: 5%;
}
#button-privacy {
    background-color: #E9EFF6;
    color:#333333;
    border-color: #333333;
}
#description-div-2-right {
    width: 40%;
}

#description-div-2-right-img {
    width: 100%;
}

.section-screens {
    display: flex;
    flex-direction: column;
}

#screens-div-1 {
    display: flex;
    flex-direction: column;
}

.screens-div-1-testimonials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.screen-div-1-article {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 30px;
}
#screens-div-1-brands {
    margin: 10%;
    background-color: #FFFFFF;
}

#screens-div-1-brands-ul {
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.screens-div-1-brands-li {
    padding: 10px;
}

#screens-div-2 {
    background-color: #E9EFF6;

}

.screens-div-2-li-num {
    font-weight: bold;
    font-size: 5vw;
    color: #333333;
}

#screens-div-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#container-iphone-bottom {
    width: 100%;
}
#iphone-bottom {
    width: 80%;
    padding: 10%;
}
#screens-div-3-p{
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 5%;
}
#screens-div-3-buttons {
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
}
/* MAIN */
/* FOOTER */
footer{
    display: flex;
    flex-flow: column nowrap;
}

#footer-main {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.footer-div {
    display:flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

/* FOOTER */

/* 
.footer-{
    width: 100%;
    display: flex;
    flex-flow:column wrap;
    justify-content: space-between;
    align-self: end;
    color:#333333;
    padding:75px 25px 75px 25px;
}
*/